# Для локального запуска БД localhost и порт 5435
DB_HOST=localhost
DB_PORT=5435

DB_USER=postgres
DB_PASS=admin
DB_NAME=saga

# Локальный порт для подключения к Kafka извне
KAFKA_BOOTSTRAP_SERVERS_HOST=localhost
KAFKA_BOOTSTRAP_SERVERS_PORT=9094

# Топик для получения и отправки order событий
KAFKA_ORDER_TOPIC=order.events

# Группа для обработки order.events
KAFKA_ORDER_CONSUMER_GROUP=orchestrator-service

# Топик для получения и отправки dlq событий
KAFKA_DLQ_TOPIC=order.dlq

# Группа для обработки dlq.events
KAFKA_DLQ_CONSUMER_GROUP=orchestrator-dlq

# Топик для отправки комманд inventory и payment
KAFKA_INVENTORY_COMMANDS_TOPIC=inventory.commands
KAFKA_PAYMENT_COMMANDS_TOPIC=payment.commands

# Частота проверки событий в мс
KAFKA_CONSUMER_TIMEOUT=1000

# Максимальное количество записей для обработки
KAFKA_CONSUMER_MAX_RECORDS=5

# Пауза перед повторной попыткой после ошибки Kafka/обработки
KAFKA_RETRY_BACKOFF_SECONDS=5

# Максимальное количество ретраев для событий
SAGA_MAX_RETRIES=3

# Для локального запуска Redis localhost и порт 6379
REDIS_HOST=localhost
REDIS_PORT=6379
