# Для локального запуска БД localhost и порт 5433
DB_HOST=localhost
DB_PORT=5434

DB_USER=postgres
DB_PASS=admin
DB_NAME=orders

# Локальный порт для подключения к Kafka извне
KAFKA_BOOTSTRAP_SERVERS_HOST=localhost
KAFKA_BOOTSTRAP_SERVERS_PORT=9094

# Для локального запуска Redis localhost и порт 6379
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET_KEY=d33911cef3b482cb9fafa1a7f32eb412906d05d7e348d8e0a6971999bd7ceb4d
JWT_ALGORITHM=HS256