# Локальный порт для подключения к Kafka извне
KAFKA_BOOTSTRAP_SERVERS_HOST=localhost
KAFKA_BOOTSTRAP_SERVERS_PORT=9094

# Топик для получения комманд
KAFKA_COMMAND_TOPIC=inventory.commands

# Названия топика для заказов
KAFKA_ORDER_TOPIC=order.events

# Частота проверки событий в мс
KAFKA_CONSUMER_TIMEOUT=1000

# Максимальное количество записей для обработки
KAFKA_CONSUMER_MAX_RECORDS=5